<!-- .pop
css/estilo.css
-->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

    <link rel="stylesheet" href="static/css/colorcitos.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <title>trabajosmax+</title>
</head>
<body><center>
    
    <header>
        <a href="/index" class="botonesheader">
        <h1>TRABAJOSMAX<span style="color: yellow;">+</span></h1></a>
            <div class = "boton-container">  
            <a href="/buscar" class="botonesheader"> Buscar Trabajo </a>
            <a href="/Agregarreal" class="botonesheader"> Agregar </a>
            </div>
    </header>
    <div>
        
        
    <!-- -------------------------------              Main                  ------------------------------------------------->
    <main>
        <!--  Espacios -->
  
          <div class="container">
            <div>
                <div class="col-md-16 formulario2">
    
                    <form action="/buscarTrabajosXCategoria" method="POST">
                      
                        <input id="Categoria" value="{{ Categoria }}" name="Categoria" type = "text" class="inputbusqueda" rows="1" placeholder="Ej: Technology,Home" required> </input>
  
                      <div >
                        <div >
                            <!-- aqui se deberia de buscar el trabajo poniendo la categoria-->
                            <button type = "submit" class="botonesbusquedacat" required>Buscar trabajo por categoria</button>
                        </div>                       
                  
                    </form>
                    
                </div> 
  
            </div>
        </div>
        


        <form action="/verCategorias" method="POST">
             <!-- aqui se deberia de ensenar todas las categorias que hay-->
             <button type = "submit" class="botonesvercat">Ver categoria</button>                         
        </form>


        <!-- Resultados de los trabajos encontrados-->
        <div id="dvTrabajos" style="top:350px; position: relative;">
            {% if busqueda and realexiste %} 
               <h3>Trabajos Encontrados</h3>
               <br/>
               <div class="row">                                   
                    {% for value in trabajos %}
                    <div class="col-md-3 " style="margin-bottom:10px;">
                        <div class="card border-dark bg-light mb-3" style="max-width: 18rem;">
                            <div class="card-header" style="height: 65px;"><h5>{{ value[1] }}</h5></div>
                            <div class="card-body">
                                <p class="card-title">{{ value[0] }}</p>
                                <p class="card-text">{{ value[2] }}</p>
                            </div>
                        </div>
                    </div> 
                    {% endfor %}
                </div>
                <br/>
                <br/>
                <br/>
            {% elif flagError %}
            
                <script text="js" lang="js">
                   alert("{{ mensaje }}");
                </script>
                
            {% endif %}
        </div>


         <!-- Resultados de las categorias-->
        <div id="dvCategorias" style="top:350px; position: relative;">
            {% if ver %}                
                
                <h3>Listado de Categorias</h3>
                <br/>
                

                <div class="row">
                                       
                    {% for value in categorias %}
                    <div class="col-md-3 " style="margin-bottom:10px;">
                        <div class="card border-dark bg-light mb-3" style="max-width: 18rem;">
                            <div class="card-body">
                                <h5><p class="card-title">{{ value }}</p></h5>
                            </div>
                        </div>
                    </div> 
                    {% endfor %}                         
                    
                </div>
                <br/>
                <br/>
                <br/>


            {% endif %}   
         </div>


    </div>
            
</main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    
    <script lang="js" text="script">

  

    </script>
        
</body>
</html>