<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    
    <!--<link rel="stylesheet" href="C://xampp//htdocs//proyecto-2-xd//Programa Recomendaciones//css//estilo.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo4.css') }}">
    <link rel="stylesheet" href="../Programa Recomendaciones/static/css/estilo4.css">
      -->
      
      <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">
    
    <title>MenuPrincipal</title>
    <script>
      var miArray = ['Curtis', 'Magda', 'Roger', 'Gonzalo'];
      var Desc = ['Amabre <br> Estricto <br> Domina el tema', 'Amable <br> Domina el tema', 'Amable <br> Domina el tema <br> Empatico', 'Amable <br> Empatico '];
     // var miArray = ['Curtis', 'Aristondo', 'Roger', 'Gonzalo'];
    </script>
  </head>
  <body>
    {% if flagError %}
    <script>
        // Obtén el mensaje de alerta desde Flask
        // Muestra la alerta
        var mensaje = "{{ mensaje }}"
        alert(mensaje);

    </script>
    {% endif %}

    {% if busqueda %}
    <script>
      // Obtén el mensaje de alerta desde Flask
      // Muestra la alerta
      var profe1 = "{{ profe1 }}"
      var profe2 = "{{ profe2 }}"
      alert(profe1);
      alert(profe2);

    </script>
    {% endif %}
      <!-- ----------------------------------------menu --------------------------------------------->
    
      <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: rgb(26, 110, 95);">
        <div class="container">
            
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>     
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    
              <!-- Inicio -->
            <form action="/menu"id="menu" method="POST">

              <!-----SIEMPRE PONER ESTAS DOS LINEAS EN EL HADER-->
              <input type="hidden" name="nombre" value="{{ nombre }}">
              <input type="hidden" name="contrasena" value="{{ contrasena }}">
              <!------------------------------------------------->
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#" onclick="document.getElementById('menu').submit();">Menu principal</a>
              </li>
                            
            </form>
                            
            <!-- Buscar Recomendacion-->
            <form action="/buscar"id="buscar" method="POST">
              <!-----SIEMPRE PONER ESTAS DOS LINEAS EN EL HADER-->
              <input type="hidden" name="nombre" value="{{ nombre }}">
              <input type="hidden" name="contrasena" value="{{ contrasena }}">
              <!------------------------------------------------->
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#" onclick="document.getElementById('buscar').submit();">Buscar Recomendaciones</a>
              </li>
                            
            </form>
    
              <!-- Recomendar Profesor -->
            <form action="/recomendar"id="recomendar" method="POST">
              <!-----SIEMPRE PONER ESTAS DOS LINEAS EN EL HADER-->
              <input type="hidden" name="nombre" value="{{ nombre }}">
              <input type="hidden" name="contrasena" value="{{ contrasena }}">
              <!------------------------------------------------->
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#" onclick="document.getElementById('recomendar').submit();">Recomendar Profesor</a>
              </li>
                            
            </form>
    
              
              <!-- -->
            <form action="/index"id="index" method="POST">
              <!-----SIEMPRE PONER ESTAS DOS LINEAS EN EL HADER-->
              <input type="hidden" name="nombre" value="{{ nombre }}">
              <input type="hidden" name="contrasena" value="{{ contrasena }}">
              <!------------------------------------------------->
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#" onclick="document.getElementById('index').submit();"> Cerrar Sesión </a>
              </li>
                            
            </form>
    
            </ul>
    
            </form>
          </div>
        </div>
      </nav>

    

    <!-- -------------------------------              Main                  ------------------------------------------------->
    <main>
      <!--  Espacios -->
      <section class="altura-a-b">

        <div class="container">
          <div class="row justify-content-center pt-7 mt-7 mr-3">
              <div class="col-md-16 formulario2">
  
                  <form action="/buscarRecomendacion" method="POST">
                    <input type="hidden" name="nombre" value="{{ nombre }}">
                   <input type="hidden" name="contrasena" value="{{ contrasena }}">
                    <div class="form-group text-center pt-3">
                      <h3 class="text-light" >Escoger la clase </h3>
                  </div>

                    <div class="input-group mb-4">
                      <input type="text" class="form-control" placeholder="Ingrese la clase" name="clase" aria-label="Ingrese la clase" aria-describedby="basic-addon2">
                      <div class="input-group-append">
                        <button class="btn btn-block ingresar" type="submit" >ㅤㅤㅤEnviarㅤㅤㅤ</button>
                      </div>
                    </div>

                        
                      
                    </form>             
                  </form>
                  
              </div>



          </div>
      </div>
      
      <br>


        <div class="container">
            <div class="row">
  
              <div class="col-12 col-sm-6">
              
                <div class="card" style="width: 25rem;">
                    <img class="card-img-top" src="{{ url_for('static', filename='img/man.png') }}" alt="Card image cap">
                    <div id ="container"class="card-body">
                      <script>
                        
                        var contenidoHTML="<h5 class='card-title'>"+miArray[0]+"</h5>"+
                      
                      "<p class='card-text'>"+Desc[0]+"</p>"+
                      "<a href='#'' class='btn btn-primary'>Mas informacion</a>"
                      container.innerHTML = contenidoHTML;
                      </script>
                    </div>
                  </div>              
              
            </div>
              <div class="col-12 col-sm-6 text-left">
                
                <div class="card" style="width: 25rem;">
                    <img class="card-img-top" src="{{ url_for('static', filename='img/teacher.png') }}" alt="Card image cap">
                    <div id="container2" class="card-body">
                      <script>
                        
                        var contenidoHTML="<h5 class='card-title'>"+miArray[1]+"</h5>"+
                      
                      "<p class='card-text'>"+Desc[1]+"</p>"+
                      "<a href='#'' class='btn btn-primary'>Mas informacion</a>"
                      container2.innerHTML = contenidoHTML;
                    </script>
                    </div>
                  </div>
                
              </div>
  
          
            </div>

            <br><br><br><br>
            <!-- -->
            <div class="row">
  
                <div class="col-12 col-sm-6">
                
                  <div class="card" style="width: 25rem;">
                      <img class="card-img-top" src="{{ url_for('static', filename='img/teacher2.png') }}"  alt="Card image cap">
                      <div id="container3" class="card-body">
                        <script>
                        
                          var contenidoHTML="<h5 class='card-title'>"+miArray[2]+"</h5>"+
                        
                        "<p class='card-text'>"+Desc[2]+"</p>"+
                        "<a href='#'' class='btn btn-primary'>Mas informacion</a>"
                        container3.innerHTML = contenidoHTML;
                      </script>
                      </div>
                    </div>              
                
              </div>
                <div class="col-12 col-sm-6 text-left">
                  
                  <div class="card" style="width: 25rem;">
                      <img class="card-img-top" src="{{ url_for('static', filename='img/teacher.png') }}"  alt="Card image cap">
                      <div id="container4" class="card-body">
                        <script>
                        
                          var contenidoHTML="<h5 class='card-title'>"+miArray[3]+"</h5>"+
                        
                        "<p class='card-text'>"+Desc[3]+"</p>"+
                        "<a href='#'' class='btn btn-primary'>Mas informacion</a>"
                        container4.innerHTML = contenidoHTML;
                      </script>
                      </div>
                    </div>
                  
                </div>
    
            
              </div>
          </div>




      
          
       
      <br><br><br>
        
      
    </main>

    <!-- -------------------------------              footer                  ------------------------------------------------->
    <footer>
      <section>
        <div class="container">
          <div class="row">

            <div class="col-12 col-sm-6">
            
              <img src="{{ url_for('static', filename='img/logo5.jpg') }}" alt="logo">              
            </div>
            <div class="col-12 col-sm-6 text-left">
              <br>
              <h6>© 2023 UVG X. Todos los derechos reservados</h6><br><br><br><br>
              
            </div>

        
          </div>
        </div>
    </section>









      
      
      
    </footer>







    <!-- bootstrap xd -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>


  </body>
</html>